ul {margin-left: 0; padding-left: 0;}
.topbox{
    width: auto;
    height: 64px;
    background-color: rgb(196, 38, 38);
    justify-content: space-between;
    padding: 20px;
    display: flex;
    margin-bottom: 64px;
}
.titlebox{
    width: 512px;
    display: flex;

}
.titleimg1{
    transform-style: preserve-3d;
    transform: translateZ(20px);
    width: 64px;
    height: 64px;
}
.titleimg2{
    max-width: 64px;
    max-height: 64px;
}
.titletxt{
    font-size: 32px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.mainimg{
    width: 1080px;
    height: 512px;
    background-color: red;
    margin-bottom: 20px;
    border-radius: 10px ;
}
.midbox{
    width: 1080px;
    height: 256px;
    display: flex;
}
.a{
    padding: 10px;
    margin-bottom: 20px;
    justify-content: left;
}
.ul{
    width: 256px;
    text-align: left;
}
.txtsub{
    list-style: none;
    font-size: 24px;
    width: 150px;
    height: 40px;
    background-color: rgb(207, 96, 96);
    margin: 10px;
    text-align: center;
    border-radius: 30px;
    line-height:-20px;
}
.txtsubtxt{
    vertical-align: middle;
    color: rgb(255, 255, 255);
    text-decoration:none;
    line-height: 1.75;
}
.txtbox{
    padding: 10px;
    padding-left: 30px;
    color: black;
    width: auto;
    height: auto;
    text-align: left;
}
.btmbox{
    width: auto;
    height: 90px;
    background-color: rgb(196, 38, 38);
    color: white;
    display: flex ;
    align-items: center;
    justify-content: center;
}
.wrapper {
    min-height: calc(100% - 90px); /*減去footer高度*/
}
/*----------------------------------------------------*/

.menubox{
    width: 1080px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 32px;
    padding: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    
}
.menucontent{
    width: 160px;
    height: 200px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}
.line1{
    width: 256px;
    height: 5px;
    background-color: black;
    border: none;
    border-bottom: 5px;
}
.img1{
    width: 128px;
}
.p1{
    color: rgb(196, 38, 38);
    text-align: center;
    font-size: 24px;
}
/*------------------------*/
.infobox{
    width: 1080px;
    padding: 20px;
    padding-top: 0;
    display: flex;
}
.infoimg{
    width: 160px;
    height: 160px;
}
.infoboxchild{
    padding: 20px;
    text-align: left;
}
.infoTag{
    color: rgb(196, 38, 38);
}
.infoContent{
    color: rgb(196, 38, 38);
}