ul {
    margin-left: 0;
    padding-left: 0;
}

.topbox {
    width: 100%;
    height: 80px;
    background-color: rgb(196, 38, 38);
    justify-content: space-between;
    padding: 20px;
    display: flex;
    margin-bottom: 64px;
}

.titlebox {
    width: 512px;
    display: flex;
}

.titleimg1 {
    transform-style: preserve-3d;
    transform: translateZ(20px);
    width: 50px;
    height: 50px;
    padding: 0%;
}

.titleimg2 {
    max-width: 64px;
    max-height: 64px;
}

.titletxt {
    font-size: 32px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.mainimg {
    width: 100%;
    height: auto;
    background-color: red;
    margin-bottom: 20px;
    border-radius: 10px;
}

.a {
    padding: 10px;
    margin-bottom: 20px;
}

.ul {
    width: 256px;
    text-align: left;
}

.txtsub {
    list-style: none;
    font-size: 24px;
    width: auto;
    height: 40px;
    background-color: rgb(207, 96, 96);
    margin: 10px;
    text-align: center;
    border-radius: 30px;
    line-height: -20px;
}

.txtsubtxt {
    vertical-align: middle;
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 1.75;
}

.txtsubtxt:hover {
    color: rgb(255, 255, 255);
}

.txtbox {
    padding: 10px;
    color: black;
    width: 100%;
    height: auto;
    text-align: left;
}

.btmbox {
    padding-left: 10px;
    width: 100%;
    height: 90px;
    background-color: rgb(196, 38, 38);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*----------------------------------------------------*/

.menubox {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 32px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menucontent {
    width: 160px;
    height: 200px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.line1 {
    width: 256px;
    height: 5px;
    background-color: black;
    border: none;
    border-bottom: 5px;
}

.img1 {
    width: 128px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.p1 {
    color: rgb(196, 38, 38);
    text-align: center;
    font-size: 24px;
}


/*------------------------*/

.infoimg {
    width: 160px;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.infoboxchild {
    padding: 20px;
    text-align: left;
}

.infoTag {
    color: rgb(196, 38, 38);
}

.infoContent {
    color: rgb(196, 38, 38);
}


/*425 768 1024*/

@media only screen and (max-width: 425px) {
    .p1 {
        font-size: 15px;
    }
    .titletxt {
        font-size: 24px;
    }
    .infoimg {
        margin-left: auto;
        margin-right: auto;
    }
    .infoTag {
        color: rgb(196, 38, 38);
        font-size: 24px;
    }
    .infoContent {
        color: rgb(196, 38, 38);
        font-size: 16px;
    }
    .btmbox {
        font-size: 10px;
        height: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .p1 {
        font-size: 16px;
    }
    .titletxt {
        font-size: 24px;
    }
    .infoimg {
        margin-left: auto;
        margin-right: auto;
    }
    .infoTag {
        color: rgb(196, 38, 38);
        font-size: 24px;
    }
    .infoContent {
        color: rgb(196, 38, 38);
        font-size: 16px;
    }
    .btmbox {
        font-size: 10px;
        height: 60px;
    }
}